# This is not the safest approach for exporting environment variables from multiple env files, since *any* file placed
# in this directory will be sourced for your session. The right way to approach this would be to ask the user to authorize
# the file before importing, something like what https://github.com/Tarrasch/zsh-autoenv does
env_files="{{ xdg_config_home }}/env"

if [[ -d $env_files ]]; then
  set -o allexport
  for envfile in $env_files/*(N.);
  do
    source $envfile
  done
  set +o allexport
fi

if [[ "$OSTYPE" = darwin* ]] && [[ $(sw_vers -productName) = 'Mac OS X' ]]; then
  export OS_PLATFORM='mac'
  export OS_VERSION=$(sw_vers -productVersion)
  export OS_VERSION_MAJOR=$(echo $OS_VERSION | awk -F '.' '{print $1}')
  export OS_VERSION_MINOR=$(echo $OS_VERSION | awk -F '.' '{print $2}')
  export OS_VERSION_PATCH=$(echo $OS_VERSION | awk -F '-' '{print $1}' | awk -F '.' '{print $3}')
  export OS_VERSION_BUILD=$(sw_vers -buildVersion)
fi

: ${ZSH_CONFIG="${XDG_CONFIG_HOME}/zsh"}
: ${ZSH_LOCAL="${XDG_DATA_HOME}/zsh"}
: ${ZSH_COMP_CACHE=1}
: ${ZSH_COMP_CACHE_DIR="${XDG_CACHE_HOME}/compcache"}
: ${ANTIDOTE_HOME="${ZSH_LOCAL}/plugins"}

export ZSH_CONFIG
export ZSH_LOCAL
export ZSH_COMP_CACHE
export ZSH_COMP_CACHE_DIR
export ANTIDOTE_HOME
export HELPDIR=/usr/local/share/zsh/help

export ZSH_AUTOSUGGEST_STRATEGY=(history completion)
